const appName = 'Kuba Mobile';

module.exports = () => {
  if (process.env.ENVIRONMENT === 'production') {
    return {
      name: appName,
      version: '1.0.0',
      extra: {
        API_URL: '',
      },
    };
  } else {
    return {
      name: appName,
      version: '1.0.0',
      extra: {
        API_URL: '',
      },
    };
  }
};
